aiohttp
aiosignal
annotated-types
anyio
appdirs
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
async-timeout
attrs
Babel
backcall
backoff
beautifulsoup4
bleach
blosc2
boto3
botocore
cement
certifi
cffi
chardet
charset-normalizer
click
colorama
comm
commonmark
contourpy
cryptography
cssutils
cycler
dataframe-image
debugpy
decorator
defusedxml
dj-database-url
Django
django-cors-headers
django-filter
django-heroku
django-hosts
django-nose
django-rq
django-storages
django-tables2
djangorestframework
djangorestframework-simplejwt
docopt
drf-yasg
eod
exceptiongroup
executing
fastjsonschema
fonttools
fpdf
fqdn
fredapi
frozendict
frozenlist
graphql-core
gunicorn
h11
h5py
harfile
html2image
html5lib
httpcore
httpx
hypothesis
hypothesis-graphql
hypothesis-jsonschema
idna
importlib-metadata
importlib-resources
inflection
iniconfig
ipykernel
ipython
ipython-genutils
isoduration
jedi
Jinja2
jmespath
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
junit-xml
jupyter_client
jupyter_core
jupyter_server_terminals
jupyterlab_pygments
kiwisolver
lxml
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
msgpack
multidict
multitasking
nbclient
nbconvert
nbformat
ndindex
nest-asyncio
nose
numexpr
numpy
overrides
packaging
pandas
pandocfilters
parso
peewee
pexpect
pickleshare
Pillow
pip-review
platformdirs
plotly
pluggy
prometheus-client
prompt-toolkit
psutil
psycopg2
psycopg2-binary
psycopg2-pool
ptyprocess
pure-eval
py-cpuinfo
pyarrow
pycparser
pydantic
pydantic_core
Pygments
PyJWT
pyparsing
pyrate-limiter
pytest
pytest-subtests
python-dateutil
python-dotenv
python-json-logger
pytimeparse
pytz
PyYAML
pyzmq
QtPy
redis
referencing
reportlab
requests
rfc3339-validator
rfc3986-validator
rfc3987
rich
rpds-py
rq
s3transfer
schemathesis
scikit-learn
scipy
scout-apm
Send2Trash
six
sniffio
sortedcontainers
soupsieve
sqlparse
stack-data
starlette
starlette-testclient
stats-can
tables
tenacity
terminado
threadpoolctl
tinycss2
tomli
tomli_w
-e git+https://github.com/ndaskalovic/finance-toolbox.git@7d8051803e04ab167f6cd9c52c43974cf30bc634#egg=toolbox
tornado
tqdm
traitlets
types-python-dateutil
typing_extensions
tzdata
uri-template
uritemplate
urllib3
wcwidth
webcolors
webencodings
websocket-client
websockets
Werkzeug
whitenoise
widgetsnbextension
wrapt
xlrd
yarg
yarl
yfinance
zipp