:root{
	--primary-color:#eaffea;
	--black-color:rgb(0 0 0);
	--green-color:#011C05;
	--white-color:#fff;
	 --light-green-color:#E5F7E6C6;
}

@import './Header.css';
@import './Home.css';
@import './login.css';
@import './sidebar.css';
 @import './dashboard.css';


body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	  monospace;
  }
  
  
   
  
  * {
	box-sizing: border-box;
  }
  
   
  .bg-green {
	background-color: var(--green-color);
  }
  .bg-light-green{
	background-color: var(--light-green-color);
  }

  .border-2px{
	border: 2px solid var(--green-color) !important
  }
  input:focus{
	border: none !important;
  }

 
  
  .modal-content {
    border-radius: 25px !important}