{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script></head>
    <title>Test</title>

<body class="flex h-screen">
    

    <!-- Sidebar -->
    <aside class="w-1/4 bg-gray-200 p-4">
        <h1 class="text-2xl font-bold mb-4">Scripts</h1>
        <ul class="space-y-2">

            <li class="flex items-center">
                <span class="w-4 h-4 bg-green-500 rounded-full mr-2"></span>
                <a href="{% url 'uploadScript' %}" class="text-blue-500 hover:text-blue-700">+ Add new script</a>
            </li>
            {% for script in scripts %}
            <li class="flex items-center">
                <span class="w-4 h-4 bg-green-500 rounded-full mr-2"></span>
                <a href="{% url 'script' scriptname=script.name %}" class="text-blue-500 hover:text-blue-700">{{ script.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </aside>

    <!-- Main Content -->
    <div class="flex-1 p-4">
        {% if messages %}
        <div class="fixed top-0 left-0 w-full h-auto py-4 flex justify-center items-center">
            <div class="bg-blue-500 text-white rounded-lg py-2 px-4">
                <div class="text-center">
                    {% for message in messages %}
                    <p class="text-md">{{ message }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

        {% block content %}
        {% endblock content %}
    </div>

</body>

</html>