{% extends 'scriptupload/base.html' %}
{% load static %}

{% block content %}
<div class="flex justify-center items-center h-screen">

    <div class="w-3/4">
        <div class="max-w-md mx-auto">
            <h1 class="text-2xl font-bold mb-4">Script Upload</h1>
            <form method="post" enctype="multipart/form-data" action="">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="category_id" class="block text-gray-700 font-bold mb-2">Category:</label>
                    <select id="category_id" name="category_id" class="border border-gray-400 p-2 w-full" required>
                        <option value="" disabled selected>Select a category</option>
                        {% for cat in categories %}
                        <optgroup label="{{cat.name}}">
                            {% for subcat in cat.scriptcategory_set.all %}
                        <optgroup label="&nbsp;&nbsp;&nbsp;&nbsp;{{subcat.name}}">
                            <option value="{{subcat.id}}">&nbsp;&nbsp;&nbsp;&nbsp;{{subcat.name}} general</option>
                            {% for subsubcat in subcat.scriptcategory_set.all %}
                            <option value="{{subsubcat.id}}">&nbsp;&nbsp;&nbsp;&nbsp;{{subsubcat.name}}</option>
                            {% endfor %}
                        </optgroup>
                        {% endfor %}
                        </optgroup>
                        {% endfor %}
                    </select>
                    <br>

                </div>
                <button type="submit"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Generate Report</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}