{% extends 'scriptupload/base.html' %}
{% load static %}

{% block content %}

<div class="flex justify-center items-top h-screen">
    <div class="flex flex-col w-3/4">
        <div class="flex-none text-left p-2 text-xl font-bold">
            <a href="{% url 'script' scriptname=script.name %}">&larr; Return</a>
        </div>
        <div class="flex-none text-left p-6 text-xl font-bold">
            {{ script.name }} - edit code
        </div>
        <div class="flex text-center p-3 mb-10 justify-center h-[90%]">

            <form method="POST" class="h-full w-full">
                {% csrf_token %}
                <div class="border border-gray-400 p-2 h-[80%] rounded-md text-left">
                    <textarea id="code-editor" name="edited_content">{{ file_contents }}</textarea>
                </div>
                <button class="p-2 m-2 flex-none bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mx-2 rounded-full" type="submit">Save Changes</button>
            </form>

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/python/python.min.js"></script>
            
            <!-- Initialize CodeMirror -->
            <style>
                /* .CodeMirror{
                    height: 100%;
                    width: 100%;
                } */
            </style>
            <script>
                var editor = CodeMirror.fromTextArea(document.getElementById("code-editor"), {
                    mode: "python",  // Set the language mode
                    theme: "default",  // Choose a theme
                    lineNumbers: true,  // Show line numbers
                    lineWrapping: true,  // Wrap long lines
                });
                editor.setSize("100%", "100%")
            </script>


        </div>

    </div>

</div>

{% endblock %}